@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GAMERSFABLE</h1>
    <p class="lead">Games are ment to be played, stories are ment to told. Share your experiance with others, or read their adventures from the world of gaming.</p>
    <p><a href='@Url.Action("About","Home")' class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<section class="row">
    <div class="col-md-4">
        <h2>Join the campfire</h2>
        <p>
            Become part of this adventure, either as a reader or as a storyteller. Share your experience with others, about the games that you like the most. Choose from a vast number of supported games, vote for adding new ones. Vote for the best story you encounter.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Register","Account")'>Register &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>Top Ranked Stories</h2>
        @model List<Gamersfable_prototype.Models.Story>
        @foreach (var story in Model)
        {
            <article class="story">
                <h3 class="story-title">@story.Title</h3>
                <div class="story-body">
                    Published by 
                    @if (story.Author != null)
                    {
                        <strong>@story.Author.FullName</strong>
                    } on <strong>@story.Date</strong><br />
                    Points: <strong>@story.Score</strong>
                </div>
                <div>@Html.Raw(story.Body)</div>
            </article>
        }
        <p><a class="btn btn-default" href="#">View more &raquo;</a></p>
    </div>
</section>