@model IEnumerable<Gamersfable_prototype.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>Supported Games</h2>

<table class="table">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="col-md-8">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-2"></th>
    </tr>
    @foreach (var game in Model)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => game.Title)
            </td>
            <td class="col-md-8">
                @Html.DisplayFor(modelItem => game.Description)
            </td>
            <td class="col-md-1">
                <a class="btn btn-default" href='@Url.Action("Create","Stories")'>Create Story &raquo;</a>
            </td>
            <td class="col-md-1">
                <a class="btn btn-default" href='@Url.Action("Index","Stories")'>Create Story &raquo;</a>
            </td>
        </tr>
    }
</table>
